extends layout

block content
    .container
        .row
            // Services Accordion
            #accordion.col-8(role="tablist")
                .card
                    #headingOne.card-header(role="tab")
                        h5.mb-0
                            a.actitle(data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne")
                                | Services
                    #collapseOne.collapse.show(role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion")
                        .card-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            | laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            | anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            | occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                            | of them accusamus labore sustainable VHS.
                .card
                    #headingTwo.card-header(role="tab")
                        h5.mb-0
                            a.collapsed.actitle(data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo")
                                | Web Design and Programing
                    #collapseTwo.collapse(role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion")
                        .card-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            | laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            | anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            | occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                            | of them accusamus labore sustainable VHS.
                .card
                    #headingThree.card-header(role="tab")
                        h5.mb-0
                            a.collapsed.actitle(data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree")
                                | Graphic Design
                    #collapseThree.collapse(role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion")
                        .card-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            | laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            | anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            | occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                            | of them accusamus labore sustainable VHS.
                .card
                    #headingFour.card-header(role="tab")
                        h5.mb-0
                            a.collapsed.actitle(data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour")
                                | Media Production
                    #collapseFour.collapse(role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion")
                        .card-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            | laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            | anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            | occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                            | of them accusamus labore sustainable VHS.
            // Info Who am I Card
            .col-4
                .card
                    .card-body
                        h5.card-title Who Am I
                        blockquote.blockquote.mb-0
                            iframe(src="https://www.youtube.com/embed/7ZWQRaY0Tns?rel=0&controls=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
                            p Who Am I?
                            a(href="https://www.youtube.com/watch?v=7ZWQRaY0Tns")
                                footer.blockquote-footer
                                    cite(title="Youtube")
                                        | Peace Orchesta
    .container-fluid(style="height: 50px")
    br
